html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0 15px 30px 15px;
    box-sizing: border-box;
    background: #C4C6C9;
}

body .static-header {
    max-width: 900px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 20px auto;
    text-align: center;
}

body .static-header img {
    margin: 0 auto;
}

body .static-header nav {
    padding: 20px 0 0;
    max-width: 400px;
    margin: 0 auto;
}

body .static-header nav a {
    display: inline-block;
    color: #343434;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

body .static-header nav a:not(:last-of-type) {
    padding-right: 30px;
}

body .static-header nav a:hover {
    color: #151515;
}

body .fixed-header {
    display: none;
    position: fixed;
    top: 0;
    background: #FFFFFF;
    margin: 0 -15px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    z-index: 100;
}

body .fixed-header .header-container {
    max-width: 900px;
    padding: 15px 30px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
}

body .fixed-header .header-container img {
    float: left;
    height: 30px;
    width: auto;
}

body .fixed-header .header-container nav {
    padding: 5px 0;
    max-width: 400px;
    float: right;
    text-align: right;
}

body .fixed-header .header-container nav a {
    display: inline-block;
    color: #666666;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

body .fixed-header .header-container nav a:not(:last-of-type) {
    padding-right: 15px;
}

body .fixed-header .header-container nav a:hover {
    color: #333333;
}

body .container-content {
    margin: 0 auto;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    min-height: 500px;
    overflow: hidden;
    padding: 15px;
    clear: both;
}

body .container-content > div {
    min-height: 500px;
    overflow: hidden;
}

body .container-content > div h1 {
    text-align: center;
    color: #282828;
    margin: 0;
}

/* ---------- INSTRUCTION STYLING ---------- */

#instructions {
    background: #A1BEC1;
}

.instruction-img {
	position: relative;
	left: calc(50% - 170px);
	width: 300px;
}

/* ---------- END NSTRUCTION STYLING ---------- */

/* ---------- BEGIN SECTION STYLING ---------- */

#begin {
    background: #CED7E5;
}

.begin-btn {
	display: inline-block;
	font-weight: bold;
	font-size: 1.75em;
	letter-spacing: 2px;
	padding: 20px 60px;
	text-decoration: none;
	text-transform: uppercase;
	transition: background 300ms;
}

.begin-btn.begin-btn-outline {
	color: #666666;
	overflow: hidden;
	position: relative;
}
  
.begin-btn.begin-btn-outline:before, .begin-btn.begin-btn-outline:after, .begin-btn.begin-btn-outline .lines:before, .begin-btn.begin-btn-outline .lines:after {
	background-color: #666666;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	top: 0;
	transition: transform 300ms;
	width: 100%;
}

.begin-btn.begin-btn-outline:before {
	bottom: 0;
	top: auto;
}

.begin-btn.begin-btn-outline .lines {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.begin-btn.begin-btn-outline .lines:before, .begin-btn.begin-btn-outline .lines:after {
	height: 100%;
	width: 2px;
}

.begin-btn.begin-btn-outline .lines:after {
	left: auto;
	right: 0;
}

.begin-btn:hover:before        { transform: translateX(-101%); }
.begin-btn:hover:after         { transform: translateX( 101%); }
.begin-btn:hover .lines:before { transform: translateY(-101%); }
.begin-btn:hover .lines:after  { transform: translateY( 101%); }

.begin-btn:active {
	background-color: #EFEFEF;
	transition: all 0.1s ease-in;
}

/* ---------- END BEGIN SECTION STYLING ---------- */

/* ---------- MISCELLANEOUS STYLING ---------- */

.centerer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.special_link {
    text-decoration: none;
    color: #173558;
	font-weight: 300;
}

.special_link:hover {
    text-decoration: underline;
    font-weight: 500;
}

/* ---------- END MISCELLANEOUS STYLING ---------- */